@require "./assets/style/color.styl"
@require "./color.styl"

.cube-c
  &-black
    color #333
  &-green
    color #189CB2
  &-yellow
    color #FA8C16
  &-grey
    color $color-grey
  &-grey-dark
    color $color-dark-grey
  &-light-grey
    color $color-light-grey

for num in (1..10)
  .cube-ma-{num*5}
    margin num*5 px
  .cube-mt-{num*5}
    margin-top num*5 px
  .cube-mb-{num*5}
    margin-bottom num*5 px
  .cube-mr-{num*5}
    margin-right num*5 px
  .cube-ml-{num*5}
    margin-left num*5 px
  .cube-pa-{num*5}
    padding num*5 px
  .cube-pt-{num*5}
    padding-top num*5 px
  .cube-pb-{num*5}
    padding-bottom num*5 px
  .cube-pr-{num*5}
    padding-right num*5 px
  .cube-pl-{num*5}
    padding-left num*5 px
for num in (8..30)
  .cube-font-{num}
    font-size num px

.cube-ellipsis
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  word-wrap normal

//页面及组件
.page
  position: absolute
  z-index: 10
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: #efeff4
  .wrapper
    height: 100%
    overflow-x: hidden
    overflow-y: auto

.cube-flex-center
  display flex
  align-items center
  justify-content center